/*=================================== 
#GOOGLE FONTS 


===================================*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;500;600&family=Lobster+Two:wght@400;700&display=swap');

/*=================================== 
#CSS VARIABLES
===================================*/

:root {
  --header-height: 5rem;

  /*===============
   * Colors
  ===============*/

  --first-color: hsl(0, 0%, 1%);
  --first-color-light: hsl(42,13%,34%);
  --title-color: hsl(0,0%,100%);
  --text-color:hsl(0,0%,67%) ;
  --bg-color: hsl(0, 0%, 8%);
  --container-color: hsl(0,0%,6%);
  --hsla:hsla(0,0%,0%,0.75) ;

  /*===============
   * Typography
  ===============*/

  --body-font: 'Kanit', sans-serif;
  --second-font: 'Lobster Two', cursive;

  --biggest-font-size: 4.125rem ;
  --bigger-font-size: 3.125rem ;
  --big-font-size: 2.5rem;
  --h1-font-size: 1.875rem ;
  --h2-font-size:1.75rem ;
  --h3-font-size: 1.5rem;
  --largest-font-size:1.375rem ;
  --larger-font-size: 1.25rem;
  --large-font-size: 1.125rem;
  --normal-font-size: 1rem;

  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600 ;
  --weight-700: 700;

  /*===============
   * Border-radius
  ===============*/

  --radius: 0.5rem;

  /*===============
   * Transition
  ===============*/

  --transition: ease-in-out;
}

/*=================================== 
#RESET
===================================*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
textarea,
body{
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body{
  color: var(--text-color);
  background: var(--bg-color);
}

h1,
h2,
h3{
  font-family: var(--second-font);
  color: var(--title-color);
  font-weight: var(--weight-400);
}

ul{
  list-style: none;
}

p{
  line-height: 1.8;
}

a{
  text-decoration: none;
}

input,
textarea{
  border: none;
  outline: none;
}
img{
  max-width: 100;
}


/*=================================== 
#RESUABLE CSS CLASSES
===================================*/

.container{

  max-width: 1200px;  
  margin-inline: auto;
  padding-inline:0.75rem ;
}